<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secax</title>
    <link rel="icon" href="https://imgs.search.brave.com/Ho9U-y603gxdHbqflq4vAGBFYjXz2XdsXQZBjw3mKRk/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTM1/MzI2Mzk2L3B0L2Zv/dG8vdXRpbGl6YXIt/Y2FpeGFzLWRlLWNh/cnQlQzMlQTNvLmpw/Zz9zPTYxMng2MTIm/dz0wJms9MjAmYz1v/U0FqMUJuTi0ydlQy/bHppN3UzVzE3M1U4/ODYzdEhnWjdiOTRV/UUROZklBPQ">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
<!--nav bar secax -->
    <nav style="background: linear-gradient(rgba(255, 255, 12, 0.919),rgba(202, 232, 5, 0.885))" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a style="color:rgb(26, 125, 212)" class="navbar-brand" href="#">Secax</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <form method="POST">
                <button type="submit" name="encomendas_POST"  class="btn btn-primary">Minhas Encomendas</button></form>
              </li>

          </div>
        </div>
      </nav>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>